html {
  font-family: 'Roboto', 'Noto', sans-serif !important;
}

/* Display4(11.20) */
h1 {
  font-size: 112px !important;
  font-weight: 300 !important;
  letter-spacing: -0.010em !important;
  line-height: 112px !important;
}
/* Display3(5.600) */
h2 {
  font-size: 56px !important;
  font-weight: 400 !important;
  letter-spacing: -0.005em !important;
  line-height: 56px !important;
}
/* Display2(4.500) */
h3 {
  font-size: 45px !important;
  font-weight: 400 !important;
  line-height: 64px !important;
}
/* Display1(3.400) */
h4 {
  font-size: 34px !important;
  font-weight: 400 !important;
  line-height: 40px !important;
}
/* Headline(2.400) */
h5 {
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 32px !important;
}
/* Title(2.000) */
h6 {
  font-size: 20px !important;
  font-weight: 500 !important;
  letter-spacing: 0.005em !important;
}
/* Subhead(1.600) */
h7 {
  font-size: 16px !important;
  font-weight: 400 !important;
  letter-spacing: 0.010em !important;
  line-height: 24px !important;
}
/* Body(1.400) */
span {
  font-size: 14px !important;
  font-weight: 400 !important;
  letter-spacing: 0.010em !important;
  line-height: 20px !important;
}
p {
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 0.010em !important;
  line-height: 24px !important;
}
/* Caption(1.200) */
caption {
  font-size: 12px !important;
  letter-spacing: 0.020em !important;
}
/* Button */
button {
  letter-spacing: 0.010em !important;
}

/*button, select, html, textarea, input {
  font-family: sans-serif !important;
}*/

select, button, textarea, input {
  font-size: 100% !important;
}
