<header>
  <nav>
    {% if not user.is_authenticated %}
    <ul>
      <li><a href="/vigor/">Vigor</a></li>
      <li><a href="https://juliancoleman.github.io/docs">Docs</a></li>
      <li><a href="https://github.com/juliancoleman/vigor">Github</a></li>
    </ul>
    <ul>
      <li><a href="/vigor/login">Login</a></li>
      <li><a href="/vigor/signup">Signup</a></li>
    </ul>
    {% else %}
    <ul>
      <li><a href="/vigor/dashboard">Dashboard</a></li>
      <li><a href="/vigor/profile">{{user.username}}</a></li>
      <li><a href="/vigor/logout">Logout</a></li>
    </ul>
    {% endif %}
  </nav>
</header>
