html {
  font-family: $font-stack;
}

// Display4(11.20)
h1 {
  font-size: $d4-font-base !important;
  font-weight: 300 !important;
  letter-spacing: -0.010em !important;
  line-height: $d4-font-base !important;
}
// Display3(5.600)
h2 {
  font-size: $d3-font-base !important;
  font-weight: 400 !important;
  letter-spacing: -0.005em !important;
  line-height: $d3-font-base !important;
}
// Display2(4.500)
h3 {
  font-size: $d2-font-base !important;
  font-weight: 400 !important;
  line-height: $d2-line-height !important;
}
// Display1(3.400)
h4 {
  font-size: $d2-font-base !important;
  font-weight: 400 !important;
  line-height: $d2-line-height !important;
}
// Headline(2.400)
h5 {
  font-size: $headline-font-base !important;
  font-weight: 400 !important;
  line-height: $headline-line-height !important;
}
// Title(2.000)
h6 {
  font-size: $title-font-base !important;
  font-weight: 500 !important;
  letter-spacing: 0.005em !important;
}
// Subhead(1.600)
h7 {
  font-size: $subhead-font-base !important;
  font-weight: 400 !important;
  letter-spacing: 0.010em !important;
  line-height: $subhead-line-height !important;
}
// Body(1.400)
span {
  font-size: $body-font-base !important;
  font-weight: 400 !important;
  letter-spacing: 0.010em !important;
  line-height: $body1-line-height !important;
}
p {
  font-size: $body-font-base !important;
  font-weight: 500 !important;
  letter-spacing: 0.010em !important;
  line-height: $body2-line-height !important;
}
// Caption(1.200)
caption {
  font-size: $caption-font-base !important;
  letter-spacing: 0.020em !important;
}
// Button
button {
  letter-spacing: 0.010em !important;
}

// button,
// select,
// html,
// textarea,
// input {
//   font-family: sans-serif !important;
// }

select,
button,
textarea,
input {
  font-size: 100% !important;
}
