{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div>
      <div class='pad'>
        <h5>@{{ user.username }}</h5>
      </div>

      <p class='color-primary'>First Name</p>
      <span>{{ user.prefs.first_name }}</span>
      <p class='color-primary'>Last Name</p>
      <span>{{ user.prefs.last_name }}</span>
      <p class='color-primary'>Age</p>
      <span>{{ user.prefs.get_age }}</span>
      <p class='color-primary'>Height</p>
      <span>{{ user.prefs.height_feet }} feet {{ user.prefs.height_inches }} inches</span>
      <p class='color-primary'>Weight</p>
      <span>{{ user.prefs.weight }} lbs.</span>
      <p class='color-primary'>Calorie Regimen</p>
      <span>{{ user.prefs.get_calorie_regimen }}</span>
      <p class='color-primary'>Determination</p>
      <span>{{ user.prefs.determination }}</span>
      <!--
      <p>Calorie Regimen: {{ user.prefs.get_calorie_regimen }}</p>
      <p>User Determination: {{ user.prefs.determination }}</p> -->
      <div>
        <a href="{% url 'preferences' %}">
          <button class="md-button-raised">Edit Profile</button>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
